* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('https://img.freepik.com/free-photo/idea-back-school-ready-school-concept-background-with-books-alarm-clock-accessories-close-up-selective-focus_166373-2808.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 5px;
    flex-wrap: wrap; /* Add flex-wrap for better responsiveness */
}

nav a {
    padding: 7px;
    font-size: 20px;
    background-color: white;
    color: black;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: 1s;
}

nav a:hover {
    background-color: beige;
}

.active {
    background-color: lightgreen;
}

#login {
    padding: 7px;
    font-size: 20px;
    background-color: white;
    color: black;
    border-radius: 5px;
}

h4 {
    color: white;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    position: relative; /* Changed to relative */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    margin: 200px auto;
    background-color: white;
    color: black;
    box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
}

form {
    border-radius: 5px;
    padding: 10px;
}

h3 {
    text-align: center;
}

#submit {
    display: block;
    margin: 10px auto;
}

/* Responsive styles */
@media (max-width: 1200px) {
    .container {
        width: 400px;
        margin: 100px auto;
    }
}

@media (max-width: 992px) {
    nav a {
        font-size: 18px;
        padding: 5px;
    }

    #login {
        font-size: 18px;
        padding: 5px;
    }

    .container {
        width: 350px;
        margin: 80px auto;
    }
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    nav a {
        margin: 5px 0;
        font-size: 16px;
    }

    #login {
        font-size: 16px;
    }

    .container {
        width: 300px;
        margin: 50px auto;
    }
}

@media (max-width: 576px) {
    nav {
        align-items: flex-start;
    }

    nav a {
        font-size: 14px;
    }

    #login {
        font-size: 14px;
    }

    .container {
        width: 250px;
        margin: 20px auto;
    }
}
