#carouselExampleIndicators{
    height: 600px;
}
.container-fluid{
    height: 90vh;
    border: 2px solid black;
    overflow: hidden;
    padding: 0;
}

h4{
    color:white;
   
}

#login{
    padding: 7px;
    font-size: 20px;
    background-color: lightgreen;
    color:black;
    border-radius: 10px;
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    }
    
    nav{
        display: flex;
        justify-content:space-between;
        align-items: center;
        background-color: black;
        position: sticky;
        z-index: 1;
        top: 0;
        left: 0;
        padding: 5px;
    }
    
    nav a{
        padding: 7px;
        font-size: 20px;
        background-color: white;
        color:black;
        margin:10px;
        border-radius: 5px;
        text-decoration: none;
        transition: 1s;
    }
    
    nav a:hover{
        background-color: beige;
    }
    
    .active{
      background-color: lightgreen;
    }
    
    footer{
        background-color: black;
        color: white;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
