h4{
    color:white;
   
}

#login{
    padding: 7px;
    font-size: 20px;
    background-color: lightgreen;
    color:black;
    border-radius: 10px;
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    }
    
    nav{
        display: flex;
        justify-content:space-between;
        align-items: center;
        background-color: black;
        position: sticky;
        z-index: 1;
        top: 0;
        left: 0;
        padding: 5px;
        color: white;
    }

    .container{
        /* width: 700px;
        height: 700px; */
        /* border: 2px solid black; */
        margin: 100px auto;
        background-color: rgb(201, 230, 190);
        box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.6),-3px -3px 5px 3px rgba(0, 0, 0, 0.6);
        border-radius: 10px;
    }

    .table{
        border-top: 2px solid black;
        margin-top: 10px;
        margin-bottom: 10px;
       
        
    }
    .containertable{
        border-top: 2px solid black;
    }

    .tableScroll{
        overflow-y: scroll;
    }
.tableHeading{
    display: block;
    text-align: center;

}

.formHeading{
    text-align: center;
}

#add{
    width: 120px;
    display: block;
    margin: 2px auto;
}

form{
    margin-bottom: 30px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
